{% extends 'base_template.html' %}
{% block link %} {% endblock %}
{% block title %} Home Page {% endblock %}
{% block main %}

<div class="wrapper">
    <div class="main-panel" id="main-panel">

        <div class="panel-header-sm panel-newbgcolor">
        </div>
        <div class="content panel-newbgcolor">
            <div>
                <div class="row mt-4">
                    <div class="col-lg-12 col-md-6">
                        <div class="card panel-newbgcolor">
                            <div class="card-body panel-newbgcolor">
                                
                                <div class="alert nav-newbgcolor">
                                    <span><strong>Problem Description : </strong><br><br>
                                        A neural network is a series of algorithms that endeavors to recognize
                                        underlying relationships in a set of data through a process that mimics the way
                                        the human brain operates. It is composed of artificial neurons or nodes. The
                                        task of image segmentation is to train a neural network to output a pixel-wise
                                        mask of the image. This helps in understanding the image at a much lower level,
                                        i.e., the pixel level. With the help of image segmentation we will be training a
                                        machine to recognize a hand gesture as a sign language alphabet or word.
                                        Instance segmentation is the task of identifying object outlines at the pixel
                                        level.
                                        As advances in both hardware and software technologies have fostered
                                        considerable improvements in the precision of solutions that use Machine
                                        Learning, such as Deep Learning (DL). In this study, we compare the most widely
                                        used algorithms in classical Machine Learning and Deep Learning to classify the
                                        objects available in the dataset. The dataset used Are American Sign Language
                                        Alphabets and American Sign Language basic salutation. The neural network used
                                        in our study is CNN. This deep neural network algorithm aims to solve instance
                                        segmentation problem in machine learning and computer vision. In other words, it
                                        can separate different objects in an image. You give it an image, it gives you
                                        the object bounding boxes, classes and masks.
                                    </span>
                                </div>

                                <!-- <div class="alert nav-newbgcolor" data-notify="container">
                                    <span data-notify="message"><strong>Problem Solution : </strong><br><br>

                                        The team has proposed the solution through data collection from the tools
                                        and
                                        analysis of the collected data in order to create trackers to make
                                        corrective
                                        decisions for better performance of the tools.

                                        The link for the GitHub has been provided below:<br>
                                        <a href="http://github.com/Shounak-Pattewale/HILTI_SCC" target="_blank">Click
                                            Here</a></span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}