{% extends "base_template.html" %}

{% block title %} Home {% endblock %}

{% block links %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
  .title {
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-weight: 900;
    font-size: 6em;
    color: #572479;
  }

  .checked {
    color: orange;
  }
</style>

{% endblock %}
{% block main %}

<div class="container overflow-hidden pt-4">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-9">
      <!-- <div class="d-flex"> -->
        <!-- <div class="card" style="width: 35rem;"> -->
        <div class="card" style="width: 60rem;" class="d-block w-100">
          <div class="card-body">
            <img class="d-block w-100" src="{{ url_for('video_feed') }}" width="800"
              height="650">
            <!-- <a href="{{ url_for('capture') }}">Capture</a> -->
            
          </div>
        </div>
      <!-- </div> -->
    </div>
    <!-- <div class="col pt-5 mt-5 pl-5">
      <button type="button" id="capture_button">Capture</button>
      <button type="button" id="detect_button">Start Detection</button>
    </div> -->
  </div>
</div>


{% endblock %}

{% block script %}
<script>
  $("#capture_button").on('click', function () {
    $.ajax({
      type: "GET",
      url: "/capture",
      success: function (data) {
        alert(data);
      }
    })
  })

  $("#detect_button").on('click', function () {
    $.ajax({
      type: "GET",
      url: "/detect",
      success: function (data) {
        console.log(data)
      }
    })
  })
</script>
{% endblock %}