<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark nav-color" id="">
    <div class="container-fluid">
        <a class="navbar-brand" href="" id="navbar-title"
           style="font-size: 120%; font-weight: 700; padding-left: 7rem;">HSCI</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        
    </div>
</nav>

<!-- End Navbar -->