<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark nav-color" id="">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" id="navbar-title"
            style="font-size: 120%; font-weight: 700; padding-left: 3rem;">HSCI</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="padding-right: 3rem;">
            <ul class="navbar-nav ms-md-auto gap-2">

                <li class="nav-item rounded">
                    <a aria-current="page" class="nav-link active"
                        href="/sign_to_text"><i
                            class="bi bi-hand-index"></i>&nbsp Sign to Text</a>
                </li>

                <li class="nav-item rounded">
                    <a aria-current="page" class="nav-link active"
                        href="/audio_to_sign"><i class="bi bi-soundwave"></i>&nbsp
                        Speech to Sign</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- End Navbar -->